/*CSS tags for main page stuff    */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* roboto-regular - latin

@font-face {
    font-family: "Roboto";
    src: url('fonts/Roboto-Regular.tff');
}
*/
body {
    height: 1000px;
    background-color: #F7F7FF;
    font-size: 18px; /*Might have to change the font size for the header */
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
    display: block;
    font-size: 2em;
    padding: 0.67em 0;
    text-align: center;
}
h3 {
    text-align: center;
    color: whitesmoke;
}

p {
    padding: 0 auto;
    padding-left: 10px;
    text-align: center;
}

ul {
    display: block;
    list-style-type: inside;
    text-align: center;

}

ul > li {
    padding: 1px;
}



/*CSS tags for ID's  */
/*Top level page images    */

/*CSS for page1.html*/
table {
    /*
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin: 0 auto;
    padding-bottom: 25px;
    */
    margin: 1em 0;
    width: 90%;
    background: #FFF;
    overflow: hidden;
    color: #024457;
   /* border-radius: 10px;*/
   /* border: 1px solid #167F92;*/
    margin-left: auto;
    margin-right: auto;
}

td {
   border: 3px solid #dddddd;
    padding: 8px;
    font-weight: normal;
    text-align: center;

}

th {
    display: flow;
    border: 1px solid #FFF;
   /* background-color: #559245;*/
    color: #554e4c;
    padding: 0.5em;
    text-align: center;

}
tr {
    border: 1px solid #d9e4e6;
    background-color: #f3ece3;
}
tr:nth-child(odd) {
    background-color: #ebf2fa;
}
tr:nth-child(even) {
    background-color: rgba(62, 146, 204, 0.43);
}
/* end of css page1.html  */

/*  CSS for page2.html  */
.column {
    float: left;
    width: 33%;
    height: 300px;
    background-color: #767e87;
    display: flow;

}
.column > img {
    max-height: 75%;
    max-width: 80%;
    padding-left: 5%;
    padding-top: 2%;
    align-items: center;
}

/* CSS for page3.html   */




/*CSS for toplevel.html photo grid of 4 photos   */
.photo-grid-container {
    display: flow;
    padding: 50px;
}

.photo-grid {
    /*width: 900px;*/
    display: flex;
    /*justify-content: center;*/
    flex-wrap: initial;
    flex-direction: row;
    align-items: center;
    padding: 50px;
    justify-content: center;
}

.photo-grid-item {
    width: 300px;
    height: 300px;
}

/* align text in the top level page*/
.text {
    text-align: center;
}

/* Header that is seen across the website pages  */

.header-container {
    color: #fff;
    background-color: #BDD5EA;
    /*og colour: #CFDBD5 */
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.header {
    width: 900px;
    display: flex;
    justify-content: space-around;
}

.menu {
    margin-top: 15px;
}

.menu > li {
    display: inline;
    margin-right: 50px;

}

.menu > li:last-of-type {
    margin-right: 0
}

/*style for links   */
a:link, a:visited {
    color: #5D6063;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

