/*CSS tags for main page stuff    */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F7F7FF;
    font-size: 18px; /*Might have to change the font size for the header */
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 2em;
    padding: 0.67em 0;
    text-align: center;
}
h2 {
    font-weight: normal;
    text-align: center;
}
h3 {
    text-align: center;
    color: #343434;
}

p {
    padding: 0 auto;
    padding-left: 10px;
    text-align: center;
}

ul {
    display: block;
    list-style-type: inside;
    text-align: center;

}

ul > li {
    padding: 1px;
}
/* making all images with a rounded border, looks pretty  */
img{
    border-radius: 10px;
}

/*CSS for page1.html*/
/* table css properties, made it so even and odd rows are different color,
also rounded borders, because it's better looking, center aligned
 */
table {

    width: 90%;
    background: white;
    overflow: hidden;
    border-radius: 15px;

    margin-left: auto;
    margin-right: auto;
}

td {
   border: 3px solid #dddddd;
    padding: 8px;
    font-weight: normal;
    text-align: center;

}

th {
    display: flow;
    color: #554e4c;
    padding: 0.5em;
    text-align: center;

}
tr {
    background-color: #f3ece3;
}
tr:nth-child(odd) {
    background-color: #ebf2fa;
}
tr:nth-child(even) {
    background-color: rgba(62, 146, 204, 0.43);
}

/*  CSS for page2.html  */
/*
could probably make the pictures in this page look better, but keep getting alignment issues,
should've done a better job with the columns, but changing the width of the images distorted it too much
 */
.column {
    float: left;
    width: 33%;
    height: 300px;
    background-color: #ebf2fa;
    color: black;
    display: flow;

}
.column > img {
    max-height: 75%;
    max-width: 85%;
    padding-left: 5%;
    padding-top: 2%;
    align-items: center;
}

/* CSS for page4.html   */
/*
centered text, round images, larger text to fill out empty space, padding and margin to allow spaces between outside
and inside div items
 */
.charger-layout{
    border: none;
    border-radius: 15px;
    /*color: #f2f2f2;*/
    background-color: #ebf2fa;
    width: 95%;
    margin: auto;
}

.charger-item{
    display: flex;
    flex-wrap: initial;
    flex-direction: column;

}

.inner-wrapper{
    display: flex;
    padding: 10px 10px;
}
.inner-wrapper >img{
    border-radius: 25px;
}

.info{
    text-align: center;
    padding-left: 15px;
    padding-top: 5%;
    margin: auto;
    font-size: larger;

}

/*CSS for toplevel.html photo grid of 3 photos   */
/*
may have been a terribly complicated photo grid, but so far it looks nice
photos are evenly spaced out, rounded images,
 */

.photo-grid-container {
    display: flow;
    padding: 50px;
}

.photo-grid {
    display: flex;
    /*justify-content: center;*/
    flex-wrap: initial;
    flex-direction: row;
    align-items: center;
    padding: 50px;
    justify-content: center;
}

.photo-grid-item {
    width: 300px;
    height: 300px;
    margin-left: 10px;
    margin-right: 10px;
}

/* align text in the top level page*/
.text {
    text-align: center;
}

/* Header that is seen across the website pages  */
/*went over header stuff in tutorial */

.header-container {
    color: #fff;
    background-color: #BDD5EA;
    /*og colour: #CFDBD5 */
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.header {
    width: 900px;
    display: flex;
    justify-content: space-around;
}

.menu {
    margin-top: 15px;
}

.menu > li {
    display: inline;
    margin-right: 50px;

}

.menu > li:last-of-type {
    margin-right: 0
}

/*style for links   */
a:link, a:visited {
    color: #5D6063;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

